@import '../partials/variables';
.forgot_password_wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  .forgot_password_form_wrapper {
    width: min(80%, 350px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .form_container {
      position: relative;
      width: 80%;
      margin-top: 2rem;
      gap: 2rem;

      margin-bottom: 3rem;
      h5 {
        color: $color_neutral_500;
        margin-bottom: -1rem;
      }
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .signup_description {
        position: absolute;
        bottom: 3rem;
        color: $color_neutral_500;
        .signup_page_link {
          color: $color_primary_700;
          font-weight: 800;
          text-decoration: underline;
        }
      }
    }
  }
}
