@import '../partials/variables';
.password_change_wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  .password_change_form_wrapper {
    width: min(80%, 350px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .form_container {
      position: relative;
      width: 80%;
      margin-top: 2rem;

      margin-bottom: 3rem;
      p {
        font-size: 0.8rem;
        font-weight: 600;
        color: $color_neutral_500;
      }
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
