.saved_page_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .saved_page_container {
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: min(80%, 400px);
  }
}

@media screen and (min-width: 421px) and (max-width: 700px) {
  .saved_page_wrapper {
    .saved_page_container {
      width: min(80%, 700px);
    }
  }
}

@media screen and (min-width: 701px) {
  .saved_page_wrapper {
    .saved_page_container {
      width: min(80%, 900px);
    }
  }
}
