//primary
$color_primary_900: #04395e;
$color_primary_700: #0876c3;
$color_primary_500: #3ba9f6;
$color_primary_300: #9dd4fa;

$color_red_error: #fb3460;

//neutral
$color_neutral_900: #08090a;
$color_neutral_700: #53575b;
$color_neutral_500: #8a9192;
$color_neutral_400: #b4b8bc;
$color_neutral_300: #f3f3f3;
$color_neutral_200: #ccd0d5;
$color_neutral_100: #ffffff;

//gradient
$gradient_primary: linear-gradient(#04395e, #3ba9f6);
$gradient_book_biography: linear-gradient(#53575b, #d3d3d3);
$gradient_book_comics: linear-gradient(#023e8a, #3ba9f6);
$gradient_book_horror: linear-gradient(#9d6b53, #deab90);
$gradient_book_fiction: linear-gradient(#2a9d8f, #619891);
$gradient_book_novel: linear-gradient(#5f7470, #e0e2db);
$gradient_book_personality_development: linear-gradient(#ff5d8f, #4d2733);
