.books_list_component {
  display: flex;
  gap: 0.8rem;
  flex-direction: column;
  width: 100%;
  .books_list_title {
    color: #212c33;
    font-size: 1.8rem;
  }
  .books_list_container {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media screen and (min-width: 421px) and (min-width: 700px) {
  .books_list_component {
    gap: 1.2rem;
    .books_list_title {
      font-size: 2rem;
    }

    .books_list_container {
      gap: 1.5rem;
    }
  }
}
@media screen and (min-width: 421px) and (min-width: 700px) {
  .books_list_component {
    gap: 2rem;
    .books_list_title {
      font-size: 2.4rem;
    }

    .books_list_container {
      gap: 1.5rem;
    }
  }
}
